.card-form__container {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  margin-left: 15rem;
  width: 63rem;

  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);

}

.form-fields{
  margin-top: 1.5rem;
  width: 60rem;

}

.card-actions_-buttons {
  align-content: flex-end;
}

.mat-mdc-card-actions {
  display: flex;
  justify-content: flex-end;
  margin: 1.5rem;
}

.mat-mdc-card-actions button {
  margin-right: 0.7rem;
  font-size: 16px;
}
